<%= turbo_frame_tag "main_content" do %>
    <div class="content-header">
        <h1><%= @title %></h1>
        <p><%= @message %></p>
    </div>
  
    <div class="settings-container">
        <!-- 设置内容将在这里添加 -->
    </div>
<% end %>